


<div class="main-panel" ng-controller="StudentController as vm" ng-init="vm.init()">

    <div class="content-wrapper">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i style="color : #8a9395!important" class="mdi mdi-account-multiple text-info icon-lg"></i>

                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Total Drivers</p>
                                <div class="fluid-container" ng-cloak>
                                    <h3 class="font-weight-medium text-right mb-0">{{vm.Total}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i style="color : #8a9395!important" class="mdi mdi-motorbike text-info icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">BeeOrder Drivers</p>
                                <div class="fluid-container" ng-cloak>
                                    <h3 class="font-weight-medium text-right mb-0">{{vm.DriverProv}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i style="color : #8a9395!important" class="mdi mdi-account-check text-info icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Available Drivers</p>
                                <div class="fluid-container" ng-cloak>
                                    <h3 class="font-weight-medium text-right mb-0">{{vm.Available}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i style="color : #8a9395!important" class="mdi mdi-checkbox-marked-circle text-info icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Active Drivers</p>
                                <div class="fluid-container" ng-cloak>
                                    <h3 class="font-weight-medium text-right mb-0">{{vm.Active}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="padding-bottom : 2%">
                            <div class="col-md-11 col-sm-8 ">
                                <h4 class="card-title" style="font-size : 24px ; color : #4b4b4b">Drivers Vehicles</h4>
                            </div>
                            <div class="col-md-1 col-sm-4 " style="text-align: center;font-size: 20px;  cursor : pointer">
                                <i data-toggle="modal" data-target="#dType" class="glyphicon glyphicon-filter"></i>
                            </div>
                        </div>
                        <div style="text-align : center ; padding-top : 16% ; height: 289px; " ng-show="vm.loading">
                            <img width="100" src="~/Content/beeorder_logo.gif" />
                        </div>
                        <div id="pieCha" style="display : none">
                            <canvas id="pieChart" style="height:250px "></canvas>
                        </div>
                        <div id="pieResultOrder" style="text-align : center  ; display : none">
                            <img width="500" src="~/template/beeOrder logo/NO_RESULT.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="padding-bottom : 2%">
                            <div class="col-md-11 col-sm-8 ">
                                <h4 class="card-title" style="font-size : 24px ; color : #4b4b4b">Order Rejection Rate</h4>
                            </div>
                            <div class="col-md-1 col-sm-4 " style="text-align: center;font-size: 20px;  cursor : pointer">
                                <i data-toggle="modal" data-target="#dOrder" class="glyphicon glyphicon-filter"></i>
                            </div>
                        </div>
                        <div style="text-align : center ; padding-top : 16% ; height: 289px; " ng-show="vm.loading1">
                            <img width="100" src="~/Content/beeorder_logo.gif" />
                        </div>
                        <div id="barCha" style="display : none">
                            <canvas id="barChart" style="height:230px"></canvas>
                        </div>
                        <div id="noResultOrder" style="text-align : center  ; display : none">
                            <img width="500" src="~/template/beeOrder logo/NO_RESULT.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card" style="height : 350px">
                    <div class="card-header" style="background-color : #fff">
                        <div class="col-md-12">
                            <h4 class="card-title" style="font-size : 24px ; color : #4b4b4b ; margin-top : 10px">Successful Order Driver</h4>
                        </div>
                    </div>
                    <div class="card-body" style="padding : 0">
                        <div class="row" style="    padding: 4%;margin: 0;border-bottom: 1px solid rgba(0,0,0,.125);" ng-cloak>
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;" for="sel1">Driver</label>
                                <select class="form-control" id="sel1" name="sellist1" ng-model="vm.filter3.id" ng-change="vm.sOrder()" style="height : 34px">
                                    <option ng-value="item.id" id="dr" ng-repeat="item in vm.allDrivers">
                                        {{item.nameof}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;">Date</label>
                                <input id="from" name="date" type="date" class="form-control" ng-model="vm.filter3.from" ng-change="vm.sOrder()" />
                            </div>
                        </div>
                        <div id="sOrder" class="row" style="margin : 0 ; padding : 0 ; display : none">

                            <div class="col-md-8" style="padding : 4%">
                                <div class="row">
                                    <div class="col-md-9">
                                        <span style="color: #7b6f69;">
                                            On Duty
                                        </span>
                                    </div>
                                    <div class="col-md-3" style="text-align : right">
                                        <span>
                                            {{vm.listSucOrder.AV | number:2}} %
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12" style=" margin-top: 5%;padding: 0;">
                                    <div class="progress">
                                        <div class="progress-bar bg-dark progress-bar-striped" role="progressbar" style="width: {{vm.listSucOrder.AV | number:0}}%" aria-valuenow="{{vm.listSucOrder.AV | number:0}}" aria-valuemin="0"
                                             aria-valuemax="10">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span style="color: #7b6f69;">
                                            Start&nbsp;&nbsp;
                                        </span>
                                        <span style="font-style : italic">
                                            {{vm.listSucOrder.Start | date : "HH : mm"}}
                                        </span>
                                    </div>
                                    <div class="col-md-8" style="text-align: right;">
                                        <span style="color: #7b6f69;">
                                            End&nbsp;&nbsp;
                                        </span>
                                        <span style="font-style : italic">
                                            {{vm.listSucOrder.End | date : "HH : mm"}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="padding : 0 ; border-left: 1px solid rgba(0,0,0,.125);">
                                <div class="col-md-12" style="border-bottom: 1px solid rgba(0,0,0,.125); padding-top : 5% ; padding-bottom : 5% ; padding-left : 18% ; padding-left : 18%">
                                    <div class="row">
                                        <span style="color: #7b6f69;">Orders</span>
                                    </div>
                                    <div class="row" style=" margin-top: 4%; font-size: 18px; font-style: italic; font-weight: bold;">
                                        <span>
                                            {{vm.listSucOrder.NumberOfOrder}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-top : 5% ; padding-bottom : 5% ;padding-left : 18% ; padding-left : 18%">
                                    <div class="row">
                                        <span style="color: #7b6f69;">Hours</span>
                                    </div>
                                    <div class="row" style=" margin-top: 4%; font-size: 18px;font-weight : bold ;font-style: italic">
                                        <span>
                                            {{vm.listSucOrder.WorkHours | number : 0}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sResult" style="text-align : center ; display : none ">
                            <img  style="margin-bottom: -11%;margin-top: -3%;" width="380" src="~/template/beeOrder logo/NO_RESULT.png" />
                        </div>
                        <div style="text-align : center ; padding-top : 5% ; margin-bottom: -20% ; height: 289px; " ng-show="vm.sloading">
                            <img width="100" src="~/Content/beeorder_logo.gif" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card" style="height : 350px">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-11 col-sm-8">
                                <span class="card-title" style="font-size : 24px ; color : #4b4b4b">Accepted & Rejected Orders </span>
                            </div>
                            <div class="col-md-1 col-sm-4 " style="text-align: center;font-size: 20px;  cursor : pointer">
                                <i data-toggle="modal" data-target="#arOrder" class="glyphicon glyphicon-filter"></i>
                            </div>
                        </div>
                        <div id="arTable" class="table-responsive" style="display : none ; width : 99% ; margin-top : 2%" ng-cloak>
                            <table class="table table-bordered" style="margin-top :1%">
                                <thead style="border : 0">
                                    <tr>

                                        <th width="40">
                                            Restaurants Name
                                        </th>
                                        <th width="30">
                                            Accepted
                                        </th>
                                        <th width="30">
                                            Rejected
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.arOrderL">
                                        <td>
                                            {{item.Name}}
                                        </td>
                                        <td>
                                            {{item.Accepted}}
                                        </td>
                                        <td>
                                            {{item.Reject}}
                                        </td>
                                    <tr>
                                        <td style="text-align : center;color: #61747b;font-style: italic; " colspan="4">
                                            <a href="@Url.Action("AcceptedRejected","Dashboard")" style="cursor : pointer"> show more ...</a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="arNoResult" style="text-align : center  ;display : none">
                            <img style="margin-bottom : -7%" width="500" src="~/template/beeOrder logo/NO_RESULT.png" />
                        </div>
                        <div style="text-align : center ; padding-top : 18% ; height: 289px; " ng-show="vm.loading4">
                            <img width="100" src="~/Content/beeorder_logo.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="padding-bottom : 2%">
                            <div class="col-md-11 col-sm-8 ">
                                <span style="font-size : 28px ; color : #4b4b4b">
                                    Timeline Drivers
                                </span>
                            </div>
                            <div class="col-md-1 col-sm-4 " style="text-align: center;padding-top: 1%;font-size: 20px; cursor : pointer">
                                <i data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-filter"></i>
                            </div>
                        </div>
                        <div class="chart-container">
                            <div style="text-align : center ; padding-top : 6% ; height: 289px; " ng-show="vm.loading2">
                                <img width="100" src="~/Content/beeorder_logo.gif" />
                            </div>
                            <div id="visualization" style="display : none"></div>

                            <div id="noResult" style="text-align : center ; display : none">
                                <img width="500" src="~/template/beeOrder logo/NO_RESULT.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The Pie Modal -->
        <div class="modal" id="dType" style="padding-right : 50% !important">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-weight: 400;color: #2e444b;">Drivers Type</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">


                        <div class="row">
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;">From : </label>
                                <input id="from" name="date" type="date" class="form-control" ng-model="vm.filter1.from" />
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;">To :</label>
                                <input type="date" id="to" class="form-control" ng-model="vm.filter1.to" />
                            </div>
                        </div>

                        <div class="row" style="margin-top : 3%">
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;" for="sel1">Drivers</label>
                                <select class="form-control" id="sel1" name="sellist1" ng-model="vm.filter1.id">
                                    <option ng-value="item.id" id="dr" ng-repeat="item in vm.allDrivers">
                                        {{item.nameof}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">

                            </div>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.driversType()">Filter</button>
                    </div>

                </div>
            </div>
        </div>


        <!-- The Modal -->
        <div class="modal" id="myModal" style="padding-right : 50% !important">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-weight: 400;color: #2e444b;">Timeline Drivers Filter</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;">From : </label>
                                <input id="from" name="date" type="date" class="form-control" ng-model="vm.filter.from" />
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;">To :</label>
                                <input type="date" id="to" class="form-control" ng-model="vm.filter.to" />
                            </div>
                        </div>

                        <div class="row" style="margin-top : 3%">
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;" for="sel1">Drivers</label>
                                <select class="form-control" id="sel1" name="sellist1" ng-model="vm.filter.id">
                                    <option ng-value="item.id" id="dr" ng-repeat="item in vm.allDrivers">
                                        {{item.nameof}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">

                            </div>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.dTimeline()">Filter</button>
                    </div>

                </div>
            </div>
        </div>


        <!-- driver order modal-->
        <div class="modal" id="dOrder" style="padding-right : 50% !important">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-weight: 400;color: #2e444b;">Timeline Drivers Filter</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;">From :</label>
                                <input id="from" name="date" type="date" class="form-control" ng-model="vm.orderFilter.from" />
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;">To :</label>
                                <input type="date" id="to" class="form-control" ng-model="vm.orderFilter.to" />
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.dOrder()">Filter</button>
                    </div>

                </div>
            </div>
        </div>



        <!-- A R Orders-->
        <div class="modal" id="arOrder" style="padding-right : 50% !important">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-weight: 400;color: #2e444b;">Accepted & Rejected Orders Filter</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;">From : </label>
                                <input id="from" name="date" type="date" class="form-control" ng-model="vm.filter4.from" />
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.AcceptReject()">Filter</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>





