
<style>
    .vis-item {
        background-color: #d8917ccf !important;
        border-color: #d3907f !important;
    }

    .show {
        padding-right: 48% !important;
    }

    .btn-primary {
        background-color: #e58453;
        border-color: #e58453;
    }
    .btn-primary:hover {
        background-color: #d6662d;
        border-color: #d6662d;
    }
</style>



<div class="main-panel" ng-controller="StudentController as vm" ng-init="vm.init()">

    <div class="content-wrapper">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i style="color : #dd733d!important"  class="mdi mdi-account-multiple text-info icon-lg"></i>
                             
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Total Drivers</p>
                                <div class="fluid-container" ng-cloak>
                                    <h3 class="font-weight-medium text-right mb-0">{{vm.Total}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i style="color : #dd733d!important"  class="mdi mdi-motorbike text-info icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">BeeOrder Drivers</p>
                                <div class="fluid-container" ng-cloak>
                                    <h3 class="font-weight-medium text-right mb-0">{{vm.DriverProv}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i style="color : #dd733d!important" class="mdi mdi-account-check text-info icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Available Drivers</p>
                                <div class="fluid-container" ng-cloak>
                                    <h3 class="font-weight-medium text-right mb-0">{{vm.Available}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i style="color : #dd733d!important"  class="mdi mdi-checkbox-marked-circle text-info icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Active Drivers</p>
                                <div class="fluid-container" ng-cloak>
                                    <h3 class="font-weight-medium text-right mb-0">{{vm.Active}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="font-size : 24px ; color : #4b4b4b">Drivers Vehicles</h4>
                        <div style="text-align : center ; padding-top : 16% ; height: 289px; " ng-show="vm.loading">
                            <img width="100" src="~/Content/beeorder_logo.gif" />
                        </div>
                        <canvas id="pieChart" style="height:250px ; display : none"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="padding-bottom : 2%">
                            <div class="col-md-11 col-sm-8 ">
                                <h4 class="card-title" style="font-size : 24px ; color : #4b4b4b">Order Rejection Rate</h4>
                            </div>
                            <div class="col-md-1 col-sm-4 " style="text-align: center;font-size: 20px;  cursor : pointer">
                                <i data-toggle="modal" data-target="#dOrder" class="glyphicon glyphicon-filter"></i>
                            </div>
                        </div>
                        <div style="text-align : center ; padding-top : 16% ; height: 289px; " ng-show="vm.loading1">
                            <img width="100" src="~/Content/beeorder_logo.gif" />
                        </div>
                        <div id="barCha" style="display : none">
                            <canvas id="barChart" style="height:230px"></canvas>
                        </div>
                        <div id="noResultOrder" style="text-align : center  ; display : none">
                            <img width="500" src="~/template/beeOrder logo/NO_RESULT.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="padding-bottom : 2%">
                            <div class="col-md-11 col-sm-8 ">
                                <span style="font-size : 28px ; color : #4b4b4b">
                                    Timeline Drivers
                                </span>
                            </div>
                            <div class="col-md-1 col-sm-4 " style="text-align: center;padding-top: 1%;font-size: 20px; cursor : pointer">
                                <i data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-filter"></i>
                            </div>
                        </div>
                        <div class="chart-container">
                            <div style="text-align : center ; padding-top : 6% ; height: 289px; " ng-show="vm.loading2">
                                <img width="100" src="~/Content/beeorder_logo.gif" />
                            </div>
                            <div id="visualization" style="display : none"></div>

                            <div id="noResult" style="text-align : center ; display : none">
                                <img width="500" src="~/template/beeOrder logo/NO_RESULT.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal" id="myModal" style="padding-right : 50% !important">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-weight: 400;color: #2e444b;">Timeline Drivers Filter</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;">From : </label>
                                <input id="from" name="date" type="date" class="form-control" ng-model="vm.filter.from" />
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;">To :</label>
                                <input type="date" id="to" class="form-control" ng-model="vm.filter.to" />
                            </div>
                        </div>

                        <div class="row" style="margin-top : 3%">
                            <div class="col-md-6">
                                    <label style="font-weight: 400;color: #2e444b;" for="sel1">Drivers</label>
                                    <select class="form-control" id="sel1" name="sellist1" ng-model="vm.filter.id">
                                        <option ng-value="item.id" id="dr" ng-repeat="item in vm.allDrivers">
                                            {{item.nameof}}
                                        </option>
                                    </select>
                            </div>
                            <div class="col-md-6">

                            </div>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.dTimeline()">Filter</button>
                    </div>

                </div>
            </div>
        </div>





        <!-- driver order modal-->
        <div class="modal" id="dOrder" style="padding-right : 50% !important">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-weight: 400;color: #2e444b;">Timeline Drivers Filter</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;">From :</label>
                                <input id="from" name="date" type="date" class="form-control" ng-model="vm.orderFilter.from" />
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 400;color: #2e444b;">To :</label>
                                <input type="date" id="to" class="form-control" ng-model="vm.orderFilter.to" />
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.dOrder()">Filter</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>





