<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
@Scripts.Render("~/bundles/jquery")

<script>
    // Build the chart
    var chart = new Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
        },
        title: {
            text: 'Browser market shares in January, 2018'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        //series: [{
        //    name: 'Brands',
        //    colorByPoint: true,
        //    data: [{
        //        name: 'Chrome',
        //        y: 61.41,
        //        sliced: true,
        //        selected: true
        //    }, {
        //        name: 'Internet Explorer',
        //        y: 11.84
        //    }, {
        //        name: 'Firefox',
        //        y: 10.85
        //    }, {
        //        name: 'Edge',
        //        y: 4.67
        //    }, {
        //        name: 'Safari',
        //        y: 4.18
        //    }, {
        //        name: 'Other',
        //        y: 7.05
        //    }]
        //}]
    });
    $.ajax({
        url: '/api/DriverType',
        type: 'GET',
        async: true,
        dataType: "json",
        success: function (data) {
            //var d = [];
            //for (var i = 0 ; i < data.length; i++) {
            //    d.push('{name:"' + data[i].name + '",y:' + data[i].y + '}');
            //}
            //alert(d);
            chart.addSeries({
                name: "Count",   
                data: data
            });
        }
    })
</script>
